.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  line-height: 3.2rem;
  text-align: center;
  text-decoration: none;
  opacity: 1;

  & + .social-icon {
    margin-left: 0.6rem;
  }

  .social-icons &:hover,
  .social-icons &:focus {
    color: #fff;
    text-decoration: none;
    opacity: 0.85;
  }

  &.social-icon--facebook {
    background-color: #3b5a9a;

    &:hover {
      border-color: #3b5a9a;
    }
  }

  &.social-icon--twitter {
    background-color: #1aa9e1;

    &:hover {
      border-color: #1aa9e1;
    }
  }

  &.social-icon--instagram {
    background-color: #7c4a3a;

    &:hover {
      border-color: #7c4a3a;
    }
  }

  &.social-icon--tiktok {
    background-color: #ff0000;

    &:hover {
      border-color: #ff0000;
    }
  }

  &.social-icon--whatsapp {
    background-color: #00a884;

    &:hover {
      border-color: #00a884;
    }
  }


  &.social-icon--mail {
    background-color: #dd4b39;

    &:hover {
      border-color: #dd4b39;
    }
  }
}

header {
  .social-icon {
    border-radius: 50%;
    color: #222529;
    font-size: 14px;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;

    &:not(:hover):not(:active):not(:focus) {
      background-color: transparent;
    }

    & + .social-icon {
      margin-left: 2px;
    }
  }
}
