.cart-content {
  padding-top: 2rem;

  .title-col {
    text-align: center;
  }
}

.subtotal,
.itbms,
.total {
  &-title {
    margin: 0;
  }

  &-money {
    text-align: right;
  }
}

.total {
  &-money {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.product {
  &-title {
    margin: 0;
    font-weight: 100;
    text-transform: capitalize;
  }
}

.order-title {
  margin: 0;
}
