@font-face {
  font-family: 'Jost';
  src: url('./../public/fonts/Jost-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.ant-layout-content {
  padding-top: 1rem;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem !important;
}
