html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/*
  Header
*/
.header {
  background-color: #ffffff;
}

.header-top {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: #666;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.017em;
}

.header-middle {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.header-bottom {
  padding-top: 6px;
  padding-bottom: 1.5rem;
}

.header .logo {
  margin-right: 0.5rem;
}

/*
  Componente: My-Account
*/
.my-account,
.my-account .anticon {
  display: flex;
  align-items: center;
}

.my-account {
  margin-left: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.my-account .anticon {
  margin-right: 1rem;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid #222529;
}

.my-account .info span {
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: -0.025em;
  color: #777;
}

.my-account:hover span {
  text-decoration: underline;
}

.my-account .info h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #282d3b;
  margin: 0 !important;
}

/*
  Componente: CartToggle
*/

.cart-toggle {
  font-size: 2rem;
}

/*
  Componente: SearchForm
*/

.search-form .ant-form-item {
  margin-bottom: 0 !important;
}

.select-after {
  width: 150px;
}

/*
  Componente: HeaderMenu
*/
.header-menu {
  background-color: transparent;
  border-bottom: none;
  font-weight: 600;
  font-size: 1rem;
}

.header-menu .ant-menu-item .anticon,
.header-menu .ant-menu-item .ant-menu-title-content,
.header-contact {
  font-weight: 600;
  font-size: 1.1rem;
}

.header-contact span {
  margin-left: 1rem;
}

.header-contact span .anticon {
  margin-right: 0.5rem;
}

/*
  Component: CartToggle
*/

.drawer-car-products .product {
  display: flex;
  margin: 0 !important;
  padding: 1rem 0;
  align-items: center;
  border-bottom: 1px solid #e6ebee;
  box-shadow: none !important;
  font-family: Poppins, sans-serif;
}

.drawer-car-products .product .product-details {
  font-size: 1em;
  position: relative;
}

.drawer-car-products .product .product-details .product-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #222529;
  font-weight: 500;
}

.drawer-car-products .product .product-details .product-title a {
  color: #222529;
}

.drawer-car-products .product .product-details .product-info {
  color: #696969;
}

.drawer-car-products .product .product-image-container {
  position: relative;
  margin: 0 0 0 auto;
  border: 1px solid #f4f4f4;
}

.drawer-car-products .product .product-image-container .btn-remove {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  Componente: Social
*/
.social-icons {
  padding: 0 2px 0 3.5rem;
}

.social-icons a.social-icon {
  border-radius: 50%;
  color: #222529;
  font-size: 14px;
  width: 2rem;
  height: 2rem;
  line-height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  margin-left: 0.5rem;
}

.social-icons a.social-icon:hover {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
}

.social-icons a.social-icon-facebook {
  color: #3b5a9a;
}

.social-icons a.social-icon-instagram {
  color: #7c4a3a;
}

.social-icons a.social-icon.social-icon-facebook:hover {
  background-color: #3b5a9a;
}

.social-icons a.social-icon.social-icon-instagram:hover {
  background-color: #7c4a3a;
}

/*
  Componente: MenuCategories
*/

.ant-dropdown-menu {
  padding: 0;
  width: 280px;
}

.ant-dropdown-menu .ant-dropdown-menu-submenu .ant-dropdown-menu-submenu-title,
.ant-dropdown-menu .ant-dropdown-menu-item .ant-dropdown-menu-title-content {
  padding: 0.5rem 0 0.5rem 1rem;
}

.ant-dropdown-menu
  .ant-dropdown-menu-submenu
  .ant-dropdown-menu-submenu-title
  .ant-dropdown-menu-title-content
  .anticon,
.ant-dropdown-menu
  .ant-dropdown-menu-item
  .ant-dropdown-menu-title-content
  .anticon {
  margin-right: 1rem;
}
