.header {
  height: auto !important;
  background: #fff !important;
  line-height: 2 !important;
  padding-inline: 0 !important;

  &-top {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &-middle {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }

  &-bottom {
    padding-bottom: 1rem;
  }

  &-contact {
    display: flex;
    font-size: 1rem;

    a {
      color: #000;
    }

    &-info {
      margin-left: 2rem;

      &-icon {
        margin-right: 0.5rem !important;
      }
    }
  }
}

// Component: Logo
.logo {
  margin-right: 2rem;
}
