.product-detail {
  &-title {
    margin: 0;
    text-transform: capitalize;
    font-weight: 100;
  }

  &-price {
    font-size: 1.4rem;
    margin: 0;
    font-weight: bold;

    span {
      font-size: 1.4rem;
    }

    .is-discount {
      color: #777;
      font-size: 1rem;
      text-decoration: line-through;
    }
  }

  &-categories {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 20px);

    a {
      color: #777;
    }

    a::after {
      content: ', ';
    }

    a:last-child::after {
      content: none;
    }
  }
}

.variants {
  display: flex;
  margin-top: 1rem;

  &-key {
    margin: 0;
    text-transform: uppercase;
  }

  &-values {
    text-transform: uppercase;
  }
}
