.product-drawer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6ebee;

  &-title {
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-transform: capitalize;

    a {
      color: #000;
    }
  }

  &-price {
    color: #696969;
  }

  &-picture {
    position: relative;
    margin: 0;
    margin-left: 1rem;
    border: 1px solid #f4f4f4;

    &-image {
      display: block;
    }

    &-remove {
      position: absolute;
      top: -10px;
      right: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem !important;
    }
  }
}
